# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# IDE
.vscode/
.idea/

# Data/Models
# *.tflite
*.onnx
*.pt
*.bin
*.pb

# Logs
logs/
*.log

# Streamlit
.streamlit/

# Docker
*.tar

# Tests
.pytest_cache/
.coverage
htmlcov/
test_outputs/
rtod/utils/runs/*

# OS
.DS_Store
Thumbs.db
